$font-family-sans-serif: 'Questrial', sans-serif;
$font-family-monospace: 'PT Mono', 'Source Code Pro', Menlo, monospace;

@import 'bootstrap/scss/bootstrap';

code {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-monospace;
}
